<%= render 'base' %>
<h1><%= t("activerecord.models.page") %></h1>
<div id="admin_pages">
  <table class="table table-bordered table-striped table-condensed">
    <tr class="head">
      <td>编号</td>
      <td><%= t("activerecord.attributes.page.title") %></td>
      <td><%= t("activerecord.attributes.page.permalink") %></td>
      <td><%= t("activerecord.attributes.page.content") %></td>
      <td>创建时间</td>
      <td class="opts"></td>
    </tr>
    <% @pages.each do |item| %>
    <tr class="<%= cycle("","even") %>">
      <td><%= item.id %></td>
      <td><%= item.title %></td>
      <td><%= item.permalink %></td>
      <td><%= item.content %></td>
      <td><%= l(item.created_at, :format => :long) %></td>
      <td>
        <%= link_to "查看", admin_page_path(item.id), :class => "icon small_edit" %>
        <%= link_to "编辑", edit_admin_page_path(item.id), :class => "icon small_edit" %>
        <%= link_to "删除", admin_page_path(item.id), :method => :delete, 'data-confirm' => '确定要删除吗?', :class => "icon small_delete" %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
<div class="tools">
  <a href="<%= new_admin_page_path %>" class="btn btn-small btn-success">新建</a>
</div>
