<div id='content' style='width:1002px;height:635px;background:url("<%=  asset_path 'tiansen/cbg.png' %>");margin:0px auto'>
   
    <%= render_cell :page, :show_about_us_info%>
    
    <%= render_cell :page, :show_top_news_info %>
    
    <%= render_cell :page, :show_company_info%>
    
    <%= render_cell :page, :show_products_info%>
    
    <%= render_cell :page, :show_top_products_info %>
</div>
