<!-- 自选产品列表 -->
<div id='pdv_12540' class='pdv_class'  title='' style='width:754px;height:334px;top:299px;left:245px; z-index:6'> 
    <div id='spdv_12540' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>
        <div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
        	<div style="height:25px;margin:1px;display:none;background:;">
        		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
        		</div>
        		<div style="float:right;margin-right:10px;display:inline">
        		<a href="/products" style="line-height:25px;color:">更多</a>
        		</div>
        	</div>
            <div style="padding:0px">
                <% @products.each do |product|%>
                <div class="productlist">
	                <div class="fang" style="width:160px;height:120px">
	                    <div class="picFit" style="width:160px;height:120px">
	                        <a href="<%= product.pic_path %>" target="_self" ><img src="<%= product.pic_path %>!prodlist" style="height:120px" border="0" /></a>
	                    </div>
	                </div>
	                <div class="title">
	                    <a href="/products/<%= product.id %>" target="_self" class="title"   ><%= product.name %></a>
	                </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>

<!-- 空白边框 -->
<div id='pdv_14541' class='pdv_class'  title='产品展示' style='width:760px;height:42px;top:234px;left:221px; z-index:15'>
    <div id='spdv_14541' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>
        <div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;">
            <div style="height:38px;border:0px;padding:0;margin:0;background:url(<%= asset_path('tiansen/title.png') %>) repeat-x">
                <div style="float:left;text-align:left;padding:0 0 0 18px;font:12px/38px Verdana,microsoft yahei,Arial;color:#fff;">
	                产品展示
	            </div>
		        <div style="float:right;width:50px;height:38px;margin-right:5px"><a href="<%= products_path %>" style="display:inline;"><img src="<%= asset_path('tiansen/more.png') %>" style="border:0px;margin-top:16px"></a></div>
            </div>
            <div style="margin:0px;padding:0px;">
                &nbsp;
            </div>
        </div>
    </div>
</div>